.bigP{
    font-size: 1.8vw;
    line-height: 2.3vw;
}.page {
    position: relative;
    width: 100%;
    margin-top: 12vh;
}
.lightText{
    color:white;
}
/*image*/
.resImage{
    position: relative;
    width: 90%;
    display: block;
    margin: 0 auto 6vw;
    border-radius: 10px;
}
/*Tiltle and intro text*/
/*also for Bedding part*/
.resTitle{
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 2vw;
}
.resIntro{
    position: relative;
    width: 70%;
    font-weight: 600;
    margin: 0 auto 4vw;
    text-align: center;
}

/*here are the style for the paper section in this page*/
.paperBox{
    position:relative;
    width: 100%;
    margin-bottom: 10vw;
}
.paperImage{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.paperT{
    position: absolute;
    width:80%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: #462411;
}
/*icons*/
.icon{
    position: absolute;
    width: 14vw;
    height: auto;
    z-index: 5;
}

.ic1{ top: 84%; left: 12%; }
.ic2{ top: 64%; left: 75%; }
.ic3{ top: 88%; left: 17%; }
.ic4{ width: 16vw; top: 89%; left: 12%; }
.ic5{ top: 70%; left: 9%; }
.ic6{ width: 24vw; top: 8%; left: 72%; }
.ic7{ width: 18vw; top: -10%; left: 70%; }
.ic8{ width: 16vw; top: 60%; left: 8%; }
/*I have three different6 size for the text in context, now i'm gonna design for them*/

.paperti{
    font-size: 2.5vw;
    font-weight: 900;
    margin-bottom: 1vw;
}
.paperSub{
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 2vw;
}
.paperMain{
    font-size:1.8vw;
    line-height:3vw;
    margin-bottom: 2.5vw;
}

/*now I will design for the two cards on the paper*/
.paperC{
    position: relative;
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: flex-start;
}
/* connect card left and card right*/
.paper-content-row {
    position: relative;
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: flex-start;

}
.paper-content-row::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 78%;
    height: 0.35vw;
    background-color: #462411;
}


/*Settings for the left card, its position, and the text on the card*/
.paperL{
    position:relative;
    width: 32%;
}
.leftC-bg{
    width: 100%;
    display: block;
}
.leftC-text{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
.leftTi{
    font-size: 1.8vw;
    font-weight: 900;
    margin-bottom: 1vw;
}
.leftC-text ol{
    font-size: 1.4vw;
    line-height: 2.3vw;
    margin-left: 1.2vw;
}

/*Settings for the right card, its position, and the text on the card*/
.paperR{
    position: relative;
    width: 45%;
    background-color: #E9D3BC;
    border: 4px solid #462411;
    border-radius: 10px;
    padding: 1.4vw 1.6vw;
}
.rightTi{
    font-size: 1.8vw;
    font-weight: 900;
    margin-bottom: 1vw;
}

.paperR ol{
    font-size: 1.4vw;
    line-height: 2vw;
    margin-left: 1.2vw;
}
/*shopping part*/
.resShop{
    position: relative;
    width: 66%;
    margin:-14vw auto -6vw;
    padding:10vw 0.7vw;
    background-color: #462411;

    border-top: 6px solid #462411;
    border-bottom: 6px solid #462411;
    text-align: center;
    border-radius: 10px;
    z-index:-1;
}
.resShopTi{
    font-size: 2.5vw;
    font-weight: 900;
    margin-bottom: 2vw;
}
.resShop .bigP{
    width: 80%;
    margin:0 auto;
}

.endImage{
    position: relative;
    width: 90%;
    left: 50%;
    height :20vw;
    transform: translateX(-50%);
    display: block;
}

/*mobile*/
@media (max-width: 900px){

    .page {
        margin-top: 14vh;
    }  
    .resTitle{
        font-size: 6vw;
    }
    .bigP{
        font-size: 3.2vw;
        line-height: 4.2vw;
    }
    .resImage{
        width: 95%;
        margin-bottom: 8vw
    }
    .paperImage{
        width: 95%;
        min-height: 70vw;
    }
    .paperT{
        width:84%;
        top: 10%;
    }
    .paperti{
        font-size: 4.8vw; 
    }
    .paperSub{
        font-size: 3.2vw;     
    }
    .paperMain{
        font-size: 3.2vw;
        line-height: 4.2vw;
    }
    .paperC{
        flex-direction: row;
        justify-content: center;
    }
    
    /*left*/
    .paperL{
        width: 32%;
    }
    .leftC-text{
        position: absolute;
        width: 80%;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);    
    }
    .leftTi{
        font-size: 1.8vw;
        font-weight: 900;
        margin-bottom: 1vw;    
    }
    .leftC-text ol{
        font-size: 1.4vw;
        line-height: 2vw;
        margin-left: 1.2vw;    
    }

    /*right*/
    .paperR{
        width: 50%;
        padding: 2.2vw 2.6vw;    
    }
    .rightTi{
        font-size: 1.8vw;
        font-weight: 900;
        margin-bottom: 1vw;
    }

    .paperR ol{
        font-size: 1.4vw;
        line-height: 2vw;
        margin-left: 1.2vw;
    }
}