.bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    object-fit: cover;
    z-index:-10;
}

.th1 {
    /* position: relative;  */
    width: 100%;
    height: 8vh;      
    background-color: #7EC5FF;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    z-index: 1; 
}
.logo1{
    position: absolute;
    top:40px;
    left:100px;
    font-size:40px;
    font-weight:200;
}
.th2 {
    /* position: relative;  */
    width: 100%;
    height: 8vh;      
    background-color: #E9D3BC;
    border-bottom: 6px solid black;
    z-index: 1; 
}
.hButtons {
    display: flex;
    gap:2vw;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hList {
    padding: 11px 20px;
    background-color:#462411;
    color:white;
    font-size:1.4vw;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border:none;
    outline: none;
    transition:all 0.25s ease;
    z-index: 1
 
}
.hList:hover{
    background-color: #773D1d;
    cursor:pointer
}
.hList:focus {
    outline:4px solid #7EC5FF;
    outline-offset: 4px;
}
.hList:active {
    background-color: #3A0D0D;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.97);
}
.footerNav {
    margin-top: 16vh;
    border-top: 6px solid black;
}
/* .hl1 { top: 25px; left:10px;}
.hl2 { top: 25px; left:240px;}
.hl3 { top: 25px; left:50%;}
.hl4 { top: 25px; left:60%;}
.hl5 { top: 25px; left:70%;} */

/*here i'm gonna beign to design the size for the context*/
/*font style*/
@font-face {
    font-family: 'tanklarger';
    src: url(./font/Tanklager-Original.otf);
}
@font-face {
    font-family: 'MilfordCondensed';
    src: url(./font/MilfordCondensed.ttf) format('truetype');
}
.fontT {
    font-family:'tanklarger';
    color:#462411;
}
.fontM {
    font-family:'MilfordCondensed';
    color:#462411;
}

/*text setting*/
.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
    font-weight: 900;
    color:white;
    white-space: nowrap;
}
.book {
    position:relative;
    width:100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}
/*background image "book" in two situation*/
.b1 {
    width: 90vw;
    height:auto;
}
.b2 {
    display: none;
    width:90vw;
    height:auto;
}
/* blocks on the book*/
.card {
    position: absolute;
    width: 28%;
    top: 12%;
    left: 12%;

}
.block {
    position: absolute;
    width: 47%;      
    top: 12%;        
    left: 43%;

}

/*set the button click*/
.button {
    position: relative;
    padding: 12px 26px;
    background-color:#462411;
    color:white;
    font-size:2vw;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border:none;
    outline: none;
    transition:all 0.25s ease;
    z-index: 1

}
.button:hover{
    background-color: #773D1d;
    cursor:pointer
}
.button:focus {
    outline:4px solid white;
    outline-offset: 4px;
}
.button:active {
    background-color: #3A0D0D;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.97);
}
/*caret*/
.button::after{
    content:"";
    display: inline-block;
    margin-left: 0.6vw;
    width: 0;
    height: 0;
    border-left: 0.9vw solid transparent;
    border-right: 0.9vw solid transparent;
    border-top: 0.8vw solid white;
    transition: transform 0.2s ease;
}
.button.active::after {
    transform: rotate(180deg);
}
/* .bu1 { top: 78%; left:13%;}
.bu2 { top: 71%; left:56%;}
.bu3 { top: 91%; left:33%}
.bu4 { top: 92%; left:79%;} */

/*I'm trying to re-manage the mission's information, 
cause I will add a information panel for click intract*/
.missionGroup {
    position: absolute;
}
.mg1 { top: 78%; left:13%;}
.mg2 { top: 71%; left:56%;}
.mg3 { top: 91%; left:33%;}
.mg4 { top: 92%; left:79%;}

/*This is the badges click which I haven't design it yet*/
.bu5 {
    position: absolute; 
    top: 62%; 
    left:78%;
}

/*information panel*/
.panel {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7EC5FF;
    border: 5px solid #462411;
    border-radius: 10px;
    padding: 0.6vw 1.2vw;
    color: #462411;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 800;
    line-height: 1.6;
    box-sizing: border-box;
    display: none;
    min-width: 19vw;
    z-index: 1
}
.panel div + div {
    margin-top: 0.3vw;
}
.panel.show {
    display:block;
}

/*The four mission images*/
.mImage {
    position: absolute;
    width: 31%;

}
.mi1 { top: 63%; left: 4%;}
.mi2 {   
    position: absolute;
    width: 29%;
    top: 61%;
    left: 44%;
}
.mi3 { top: 78%; left: 23%;}
.mi4 { top: 73%; left: 68%;}

/*badges collection*/
.mi5 {
    position: absolute;
    width: 19%;
    top: 56%;        
    left: 75%;
}
.h1{
    position: absolute;
    top:4%;
    left:12%;
    font-size:2.8vw;
    font-weight:800;
    line-height: 3.3vw;
}
.ocadCard{
    position: absolute;
    top: 13%;
    left: 13%;
    width: 23%;

}
.school{
    font-size: 1.6vw;
    font-weight: 900;
}
.address{
    margin-top: 0.5vw;
    font-size: 1.2vw;
    line-height: 1.6vw;
}

/*introduction on the right side*/
.intro{
    position:absolute;
    top:13%;
    left:45%;
    width:40%;
    font-size:1.8vw;
    line-height:2vw;

}

/* #missions{
    position:relative;
} */
/*Missions to explore*/
.h2{
    position: absolute;
    top: 58%;        
    left: 10%;
    font-size:4vw;
    font-weight:800;
    line-height: 3.2vw;
}

/* four missions*/

.h3{
    position:absolute;
    top: 75%;        
    left: 6%;
    font-size:2.2vw;
    font-weight:800;
    line-height: 3.3vw;

}
.h4{
    position:absolute;
    top: 88%;        
    left: 24%;
    font-size:2.2vw;
    font-weight:800;
    line-height: 3.3vw;

}
.h5{
    position:absolute;
    top: 68%;
    left: 52%; 
    font-size:2.2vw;
    font-weight:800;
    line-height: 3.3vw;

}
.h6{
    position:absolute;
    top: 89%;
    left: 76%;
    font-size:2.2vw;
    font-weight:800;
    line-height: 3.3vw;

}

/*mobile*/
@media (max-width: 900px){
    .b1 {display:none}

    .b2 {display:block;}

    .logo1{
    top:50px;
    left:60px;
    font-size:25px;
    font-weight:200;
}

    .title {top:-5%;font-size: 5vw;}

    .h1 {
        top:2%;
        left:20%;
        font-size:2.8vw;
        line-height: 4.6vw;
    }
    .card {
        width: 45%;    
        top: 7%;        
        left: 50%;      
        transform: translateX(-50%);  

    }
    .ocadCard {
        width: 60%;
        top: 8%;
        left: 59%;
        transform: translateX(-50%);

    }

    .school {font-size: 2.4vw;}

    .address {
        font-size: 2vw;
        line-height: 3vw;
        margin-top: 1vw;
    }
    .block {
        width: 56%;      
        top: 22%;        
        left: 50%;
        transform: translateX(-50%);
   
    }
    .intro{
        top:23%;
        left:51%;
        width:46%;
        font-size:2vw;
        line-height:2.3vw;
        transform: translateX(-50%);

    }
    /*mission to explore*/
    .h2{
    top: 58%;        
    left: 48%;
    font-size:4vw;
    font-weight:800;
    transform: translateX(-50%);
    line-height: 3.2vw;
    }

    /*four mission images*/
    .mImage {width: 35%;}

    .mi1 {top: 63%; left: 10%;}
    .mi2 {width: 32%; top: 67%; left: 48%;}
    .mi3 {top: 78%; left: 16%;}
    .mi4 {top: 80%; left: 55%;}

    /* four missions title*/
    .h3{
    top: 70.8%;        
    left: 13%;
    font-size:2.4vw;
    }
    .h4{
    top: 85%;        
    left: 18%;
    font-size:2.4vw;
    }
    .h5{

    top: 71.7%;
    left: 57%; 
    font-size:2.4vw;
    }
    .h6{
    top: 90.5%;
    left: 64%;
    font-size:2.4vw;
    }
    .button{
        font-size:2.4vw;
        padding:10px 20px;
    }
    .missionGroup {position:absolute}

    .mg1 { top: 72.8%; left:18%;}
    .mg2 { top: 73.6%; left:60%;}
    .mg3 { top: 86.7%; left:28%;}
    .mg4 { top: 92.3%; left:69%;}

    .bu5 {top: 59.3%; left:79.2%;}




}