.bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    object-fit: cover;
    z-index:-10;
}

.th1 {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;      
    background-color: #7EC5FF;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    z-index: 10; 
}
.th2 {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;      
    background-color: #E9D3BC;
    border-bottom: 6px solid black;
    z-index: 10; 
}
/*here i'm gonna beign to design the size for the context*/
/*font style*/
@font-face {
    font-family: 'tanklarger';
    src: url(./font/Tanklager-Original.otf);
}
@font-face {
    font-family: 'Milford';
    src: url(./font/MilfordCondensed.ttf); 
}

/*text setting*/
.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
    font-weight: 900;
    color:white;
    white-space: nowrap;
    font-family: 'tanklarger';
}
.book {
    position:relative;
    width:100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}
.b1 {
    width: 90vw;
    height:auto;
}
.b2 {
    display: none;
    width:90vw;
    height:auto;
}
.card {
    position: absolute;
    width: 28%;
    top: 12%;
    left: 12%;
    z-index: 5;
}
.block {
    position: absolute;
    width: 47%;      
    top: 12%;        
    left: 43%;
    z-index: 5;    
}
.mi1 {
    position: absolute;
    width: 28%;      
    top: 65%;        
    left: 13%;
    z-index: 5;   
}
.mi2 {
    position: absolute;
    width: 28%;      
    top: 63%;        
    left: 50%;
    z-index: 5;   
}
.mi3 {
    position: absolute;
    width: 28%;      
    top: 80%;        
    left: 23%;
    z-index: 5;   
}
.mi4 {
    position: absolute;
    width: 28%;      
    top: 77%;        
    left: 62%;
    z-index: 5;   
}
.h1{
    position: absolute;
    top:5%;
    left:12%;
    font-size:3vw;
    font-weight:800;
    line-height: 3.2vw;
    font-family: 'Milford';
}
.ocadCard{
    position: absolute;
    top: 13%;
    left: 13%;
    width: 23%;
    z-index: 6;
}
.school{
    font-size: 1.6vw;
    font-weight: 900;
}
.address{
    margin-top: 0.5vw;
    font-size: 1.2vw;
    line-height: 1.6vw;
}

/*introduction on the right side*/
.intro{
    position:absolute;
    top:13%;
    left:45%;
    width:40%;
    font-size:2vw;
    line-height:2vw;
    font-family: 'Milford';
    z-index: 6;
}


@media (max-width: 900px){
    .b1 {
        display:none
    }
    .b2 {
        display:block;
    }
    .title {
        top:-5%;
        font-size: 5vw;
    }
    .h1 {
        top:2%;
        left:12%;
        font-size:3.5vw;
        line-height: 4.6vw;
        font-family: 'Milford'; 
    }
    .card {
        position: absolute;
        width: 45%;    
        top: 7%;        
        left: 50%;      
        transform: translateX(-50%);  
        z-index: 5;
    }
    .ocadCard {
        position: absolute;
        width: 60%;
        top: 8%;
        left: 59%;
        transform: translateX(-50%);
        z-index: 6;
    }

    .school {
        font-size: 2.4vw;  
    }
    .address {
        font-size: 2vw;
        line-height: 3vw;
        margin-top: 1vw;
    }
    .block {
        position: absolute;
        width: 50%;      
        top: 22%;        
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;    
    }
    .intro{
        position:absolute;
        top:23%;
        left:51%;
        width:45%;
        font-size:2vw;
        line-height:2vw;
        transform: translateX(-50%);
        font-family: 'Milford';
        z-index: 6;
}

}