.page {
    position: relative;
    width: 100%;
    margin-top: 12vh;
}

.lightText { color: white; }

.bigP {
    font-size: 1.8vw;
    line-height: 2.3vw;
}

/*title*/
.resTitle {
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 2vw;
}

.resIntro {
    width: 70%;
    margin: 0 auto 4vw;
    text-align: center;
    font-weight: 600;
}

/*paper secction for context*/
.paperBox{
    position: relative;
    width: 100%;
    margin-bottom: 10vw;
}
.paperImage{
    position: relative;
    width: 59%;
    left: 33%;
    transform: translateX(-50%);
    display: block;
}
/*text on the left side*/
.paperT{
    position: absolute;
    width: 45%;
    left: 35%;
    top: 10%;
    transform: translateX(-50%);
    color: #462411;
}

.paperti {
    font-size: 2.5vw;
    font-weight: 900;
    margin-bottom: 1vw;
}

.paperSub {
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 2vw;
}

.paperMain {
    font-size: 1.8vw;
    line-height: 3vw;
    margin-bottom: 2.5vw;
}

.paperC {
    position: absolute;
    top: 0%;
    left: 103%;
    width: 80%;
    min-height: 30vw;
}

/*this is for the blue card in the first section and the text on it*/
.wellness-rightCard {
    width: 100%;
    position: relative;
    margin-bottom: 3vw;
}

.wellness-rightCard .leftC-bg { width: 100%; }

.wellness-rightCard .leftC-text {
    position: absolute;
    width: 80%;
    top: 13%;
    left: 56%;
    transform: translateX(-50%);
}

.leftTi {
    font-size: 1.8vw;
    font-weight: 900;
    margin-bottom: 1vw;
}

.leftC-text ol {
    font-size: 1.4vw;
    line-height: 2.3vw;
    margin-left: 1.2vw;
}

/* image on the right*/
.wellness-imageBox {
    width: 100%;
    position: relative;
}

.wellness-img {
    width: 100%;
    border-radius: 10px;
}
.resShop{
    position: relative;
    width: 66%;
    margin:-12vw auto -6vw;
    padding:10vw 0.7vw;
    background-color: #462411;
    border-top: 6px solid #462411;
    border-bottom: 6px solid #462411;
    border-radius: 10px;
    text-align: center;
    z-index:-1;
}

.resShopTi {
    font-size: 2.5vw;
    font-weight: 900;
    margin-bottom: 2vw;
}

.resShop .bigP{
    width: 80%;
    margin:0 auto;
}
